<div class="content">
    <form class="form" [formGroup]="form" (ngSubmit) ="login()">
      <div class="form__logo">
        <a routerLink="/">
          <img src="../../assets/Logo.png" alt="Logo">
        </a>
      </div>
      <h3 class="form__title">Product Store</h3>
      
      <div class="errorAlert" *ngIf="authService.error$ | async as loginError">
        <small>{{loginError}}</small>
      </div>
      <div class="form__group"
           [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
      >
        <input id="email" class="form__input" type="email" placeholder=" " formControlName="email" />
        <label for="email" class="form__label">Email</label>
        <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
          <small *ngIf="form.get('email').errors.required">
            Заполните поле email
          </small>
          <small *ngIf="form.get('email').errors.email">
            Введите корректный email: example@mail.com
          </small>
        </div>
      </div>
      <div class="form__group"
           [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
      >
        <input id="password" class="form__input" type="password" placeholder=" " formControlName="password"/>
        <label for="password" class="form__label">Пароль</label>
        <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
          <small *ngIf="form.get('password').errors.required">
              Заполните поле пароль
          </small>
          <small *ngIf="form.get('password').errors.minlength">
            Пароль должен быть не менее {{form.get('password').errors.minlength.requiredLength}} символов
        </small>
        </div>
      </div>
      <div class="controlRef">
          <button class="form__button" type="submit" [disabled]="form.invalid">Войти</button>
          <a routerLink="/register">Зарегистрироваться</a>
      </div>  
    </form> 
</div>

