    <app-header></app-header>
    <div class="office-info__title">
       Офис  <span>Product Store</span> на Пресненской набережной 12
    </div>
    <div class="contact-data">
        <div class="map__content">
            <div class="address">
                <div class="address_title">Адрес</div>
                <div class="address_address">123317, Москва, Пресненская Набережная 12</div>
            </div>
            <div id="map" style="width: 500px; height: 375px;"></div>
        </div>
        <div class="depatment__contacts">
            <table>
                <tr>
                    <td class="depatment-contact__title">Секретарь</td><td class="depatment-contact__text">тел.: +7 495 495 49 49, 8 800 800 80 80</td>
                  </tr>
                  <tr>
                    <td class="depatment-contact__title">Отдел по работе с клиентами</td><td class="depatment-contact__text">тел.: +7 495 495-49-49, клиенты из регионов России могут звонить по бесплатному номеру 8 800 800-80-80. email: client-service@gmail.com</td>
                  </tr>
                  <tr>
                    <td class="depatment-contact__title">Отдел по связям с общественностью</td><td class="depatment-contact__text">CLIENT-SERVICE@GMAIL.COM</td>
                  </tr>
                  <tr>
                    <td class="depatment-contact__title">Поставщикам</td><td class="depatment-contact__text">По вопросам логитики обращаейтесь по email: zakupka@GMAIL.COM</td>
                  </tr>
                  <tr>
                    <td class="depatment-contact__title">Часы работы</td><td class="depatment-contact__text">с 10 00 по 18 00</td>
                  </tr>
            </table>
        </div>
    </div>  

